<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ifpi.edu.br.saudeacomp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SaudeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CadastroActivity"
            android:parentActivityName=".activities.SaudeActivity" />
        <activity
            android:name=".activities.ConsultaActivity"
            android:parentActivityName=".activities.SaudeActivity" />
        <activity
            android:name=".activities.RemedioActivity"
            android:parentActivityName=".activities.SaudeActivity" />
        <activity android:name=".activities.ListaConsultaActivity"
            android:parentActivityName=".activities.SaudeActivity"/>
        <activity android:name=".activities.ListaRemedioActivity"
            android:parentActivityName=".activities.SaudeActivity"/>
        <activity android:name=".activities.ExameActivity" />
        <activity android:name=".activities.ListaExameActivity" />
        <activity android:name=".activities.ConsultaStatusActivity" />
        <activity android:name=".activities.PatologiaActivity"></activity>
        <activity android:name=".activities.ListaPatologiaActivity"></activity>
    </application>

</manifest>
